@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@500,400&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=ranade@400&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=work-sans@400&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: 100vh;
  background: #262626;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 365px;
  height: 560px;
  min-width: 365px;
  max-width: 365px;
  min-height: 560px;
  max-height: 560px;
  overflow: hidden;
  margin: auto;
  background: linear-gradient(#272727, #222222);
}

.headerA {
  height: 50px;
  width: 357px;
  border-bottom: 1px solid rgba(103, 103, 102, 0.5);
  display: flex;
  justify-content: center;
  background: #222222;
}

.headerHome {
  height: 50px;
  width: 357px;
  border-bottom: 1px solid rgba(103, 103, 102, 0.5);
  display: flex;
  justify-content: space-between;
  background: #222222;
}

.namedLogo {
  margin-top: 7px;
}

.logo {
  height: 180px;
  display: flex;
  justify-content: center;
}

.iconLogo {
  margin-top: 50px;
}

.accountSetUpconLogo {
  margin-top: 20px;
}

.signUpBody0 {
  display: flex;
  justify-content: center;
  color: #fefdf9;
  margin-top: 30px;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.07em;
}

.loginbody {
  display: flex;
  justify-content: center;
  color: #fefdf9;
  margin-top: 20px;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.07em;
}

.signUpBody1 {
  display: flex;
  justify-content: center;
  color: #fefdf9;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
  /* letter-spacing: 0.07em; */
}

.signUpBody2 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.fullPageWarn {
  display: flex;
  align: center;
  margin-top: 230px;
  font-size: 20px;
  color: white;
}

.accountSetupHeading0 {
  display: flex;
  justify-content: center;
  color: #fefdf9;
  margin-top: 13px;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.07em;
}

.passwordSetupHeading0 {
  display: flex;
  justify-content: center;
  color: #fefdf9;
  margin-top: 13px;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.07em;
}

.accountSetUpHeading1 {
  text-align: center;
  color: #fefdf9;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 300;
  padding: 5px 10px;
}

.signoutButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.accountSetUpButton {
  display: flex;
  justify-content: center;
  margin-top: 110px;
}

.accountSetUpButton1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.accountSetUpInputField {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.nameError {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

.accoutSetUpError {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  color: red;
  font-size: 10px;
}

.accountSetUpLoading0 {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  font-size: 11px;
  color: red;
}

.accountSetUpLoading1 {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: white;
}

div::-webkit-scrollbar {
  width: 8px;
}

div::-webkit-scrollbar-track {
  background: #222222;
}

div::-webkit-scrollbar-thumb {
  background: #414141;
}

.tokenContainer {
  margin: auto;
  margin-top: 3em;
  width: 27em;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: #2b2b2b;
}

.row {
  padding: 16px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.tokenLogo {
  border-radius: 50%;
  height: 30px;
}

.left-info-container {
  display: flex;
  flex-direction: column;
  height: 34px;
  padding-left: 12px;
  justify-content: space-between;
}

.left-info-container1 {
  display: flex;
  flex-direction: column;
  height: 34px;
  padding-left: 12px;
  justify-content: center;
}

.tokenName {
  font-weight: 500;
  font-size: 16px;
}

.tokenBalance {
  color: rgb(112, 112, 112);
  margin-top: 4px;
}

.right {
  display: flex;
  flex-direction: column;
  height: 30px;
  justify-content: space-between;
  align-items: end;
}
.right1 {
  display: flex;
  flex-direction: column;
  height: 30px;
  justify-content: center;
  align-items: end;
}

.headera {
  height: 50px;
  width: 357px;
  display: flex;
  justify-content: center;
  background: #222222;
}

.headerbottom {
  border-bottom: 1px solid rgba(103, 103, 102, 0.5);
}

.backButton {
  height: 40px;
  cursor: pointer;
  color: gray;
}
.backButton:hover {
  color: #fefdf9;
}

.headingHome {
  font-family: 'Work Sans', sans-serif;
  /* letter-spacing: 2px; */
}

.amount {
  font-family: 'ranade', sans-serif;
  letter-spacing: 2px;
}
